body {
    background-color: #061b28;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'CustomFont';
    src: url('TT Firs Neue Trial Medium.ttf');
}


* {
    font-family: CustomFont;
    color: white;
    text-align: justify;
    cursor:default;
    margin: 20px;

}

*::selection {
    background: none;
}

#first_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#top {
    margin: 20px; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    z-index: 1;
    position: relative; 
}

#name {
    margin: 20px;
    position: relative;
}

#welcome {
    margin: 20px;
    margin-top: 5%;
    margin-left: 3.5%;
    font-size: 3rem;
    white-space: nowrap;
}

#animation {
    margin: 20px;
    margin-left: 3.5%;
    color: #00abeb;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #00abeb;
    display: inline-block;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #00abeb; }
}

#description {
    width: 30vw;
    margin: 20px;
    margin-left: 3.5%;
    overflow-wrap: break-word; 
    word-wrap: break-word;     
    white-space: pre-wrap;   
}

#profile {
    margin: 20px;
    margin-top: -20%;
    margin-left: 65%;
    max-width: 100%; 
    height: auto; 
}

/* Media Queries */
@media (max-width: 768px) {
    #welcome {
        font-size: 2.5rem; 
    }

    #animation {
        font-size: 1.5rem; 
    }

    #description {
        width: 80%; 
    }

    #profile {
        margin-left: 0; 
        margin-top: 10px; 
    }
}

@media (max-width: 480px) {
    #welcome {
        font-size: 2rem; 
    }

    #animation {
        font-size: 1.2rem; 
    }
}

#second_top {
    margin: 20px; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px; 
    z-index: 1;
    position: relative; 
}

#Staff_Experiences {
    margin: 20px;
}

#GVRC, #NGVR, #GVRR {
    border-radius: 30px;
    height: auto;
    max-width: 100%; 
}

@media (max-width: 768px) {
    #evidence {
        flex-direction: column; 
        align-items: center; 
    }

    #GVRC, #NGVR, #GVRR {
        height: 40vh;
        max-width: 90%;
    }
}

#evidence {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}
